.sidebar-top {
  font-size: 2rem;
}

ul li {
  list-style: none;
  line-height: 4rem;
}

.menu-item:hover {
  color: rgb(107, 105, 105);
}

.menu-item {
  text-decoration: none;
  color: rgb(179, 175, 175);
  font-weight: bold;
}
