.admin-layout .main {
  min-height: 80vh;
}

.admin-layout .left {
  width: 300px;
  height: 100vh;
  background: #000;
  position: fixed;
  color: white;
  font-size: 1.5rem;
}

.admin-layout .right {
  margin-left: 300px;
}
